.firstDivUserList {
    background-color: #000;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
}

.cardDiv {
    margin-bottom: 3rem;
}